
// nextflow.fixed.config — quiet the WARNs by defining defaults here, too.
params {
  outdir        = 'results'
  species       = 'human'
  genomeDir     = null
  rsem_ref      = null
  samplesheet   = null
  reads         = null
  stranded      = 'none'
  pe            = true
  read_cmd      = 'zcat'
  star_threads  = 8
  rsem_threads  = 8
  build_index   = false
  fasta         = null
  gtf           = null
  sjdbOverhang  = 99
}
