profiles {
standard { includeConfig './conf/base.conf' }
slurm { includeConfig './conf/base.conf'; includeConfig './conf/slurm.conf' }
docker { includeConfig './conf/base.conf'; includeConfig './conf/docker.conf' }
singularity { includeConfig './conf/base.conf'; includeConfig './conf/singularity.conf' }
conda { includeConfig './conf/base.conf'; includeConfig './conf/conda.conf' }
groovy { includeConfig './conf/base.conf'; includeConfig './conf/groovy.conf' }
}
